*{/*aqui é para remover a margem minima do corpo total */
    font-family: 'Tanseek Árabe Moderno Médio', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #F5F5F5;/*colocar a cor cinza no resto do corpo*/
  }
  aside{
    background-color: #ffffff;
    height:95vh;/*calcullo de cabeçalho com o corpo*/
    width: 18vw;
    float: left;
  }

  #ciasc{
    margin-top:5px;
    margin-left: 25px;
  }
  header{
    color:#ffffff;
    font-size: 20px;
    background-color: #151C48;
    height:5vh;/*calcullo de cabeçalho com o corpo*/
    display: flex;
    justify-content: space-between;
  }
  /*aqui está o tamaho  e caracteristicas do botão d opções*/
  .opções-botao,
  .imagem-opicao{
    height: 25px;
    width: 30px;
    background-color: #151C48;
    border: none;
  }
  
  /*aqui está a aprecia dos botões*/
  .enfermagem,
  .nutricao,
  .fisioterapia,
  .nova-consulta,
  .pesquisa-consulta,
  .cadastro-paciente,
  .botao-voltar,
  .botao-deslogar,
  .botao{/*o id é para o botão de pesquisa*/
      height: 55px;
      width: 150px;
      border: none;
      margin-left: 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 15px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  /*colocando as cores dos botoes coloridos*/
  .nova-consulta{
    background-color: #EA8D37;
    color: #ffffff;
    margin-top: 40px;
  }
  .pesquisa-consulta{
    background-color: #F40404;
    color: #ffffff;
  }
  .cadastro-paciente{
    background-color: #868AA5;
    color: #ffffff;
  }
  
  /*aqui está a ação dos botões de crscer*/
  .novo-botao:hover,
  .enfermagem:hover,
  .nutricao:hover,
  .fisioterapia:hover,
  .nova-consulta:hover,
  .pesquisa-consulta:hover,
  .cadastro-paciente:hover,
  .botao:hover, 
  .botao-voltar:hover,
  .botao-deslogar:hover{
      cursor: pointer;
      transform: scale(1.05);
  }
  
  .emoji-fisioterapia,
  .emoji-nutricao,
  .emoji-enfermagem{/*tamanho padrão dos emojis das especialidades*/
      height: 20px;
      width: 20px;
  }

  /*AQUI ESTA A PARTE DO VERSÃO MOBILE*/

  @media(max-width: 720px){

aside{
    height:15vh;/*calcullo de cabeçalho com o corpo*/
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    float: none;
    padding-top: 2vh;
    
  }
  .nova-consulta {/*distância do 1 botão do cabeçalho*/
    margin-top: 0px;
  }
  .enfermagem{
    margin-right: 5px;
    
  }
  .enfermagem,
  .nutricao,
  .fisioterapia,
  .nova-consulta,
  .pesquisa-consulta,
  .cadastro-paciente{
      height: 55px;
      width: 26vw;
  }
  }