*{/*aqui é para remover a margem minima do corpo total */
    font-family: 'Tanseek Árabe Moderno Médio', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{/*corpo ocupa 100%  de tela, e fica no centro*/
    height: 100vh;
    display: grid;
    justify-items: center ;
    align-items: center;
  }
  main{
    color: #ffffff;
    background-color: #151C48;
    height: 500px;/*tamanho da caixa/main*/
    width: 100vw;/*largura da ciaxa*/
    padding-top: 70px;/*distância das do titulo do topo da caixa*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);/*sombra de baixo do main*/
  }
  .ciasc{
    /*font-size: 5vh;*/
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  form{
    display: flex;
    flex-direction: column;/*para separa os inputs do buttom*/
  }
  #seprar-inputs{/*aqui que está o corpo dos inputs */
    display: flex;
    justify-content:space-evenly;
  
  }
  .caixa-ra,
  .caixa-password,
  .caixa-nome,
  .caixa-email,
  .caixa-cofirm-password{/*os itens da caixa */
    margin-top: 10px;/*distanciamneto de cima*/
    padding-top: 11px;/*altura do texto com o teto*/
  }
  .texto{
    font-size: 20px;
  }
  #esqueceu{
    cursor: pointer;
    margin-left: 280px;
    margin-bottom: -15px;/*para ficar um poco mais proximo do input*/
  }
  .botao-entrar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    background-color: #5563C1;/*cor do botão*/
    color: white;/*cor da letra do botão*/
    font-size: 15px;
    /*margin-top: 48px;*distânci do botão do input de senha*/
    margin-top: 2.5vh;
    margin-left: 70px;
    padding-left: 15px;/*espaçamento do texto para esquerda*/
    padding-right: 15px;/*espaçamento do texto para direita*/
    padding-top: 20px;
    width: 170px;
    padding-bottom: 20px;
    cursor: pointer;/*mudar a seta quando passar por cima*/
    border-radius: 7px;/*arestas redondas*/
    border: none;/*não ter cor de borada*/
  }
  .botao-entrar:hover{
    scale: 1.05;/*muadar o tamanho quando passar por cima o mouse*/
  }
  .input{/*o campo de preencimento do RA e senha */
      width: 570px;/*largura dos input's*/
      height: 42px;
      border: none;/*cor da bora do campo do RA e senha*/
      padding-top: 11px;/*altura do texto com o teto*/
      padding-bottom: 11px;/*altura do texto com o "chão"*/
  }
  
  
  
  
  @media(max-width: 720px){
  
  main{
    height: 80vh;/*tamanho da caixa/main*/
    width: 90vw;/*largura da ciaxa*/
  }
  .ciasc{
    font-size: 5vh;
  }
  form{
    padding-left: 14px;
  }
  #esqueceu{
    margin-left: 250px;
    margin-bottom: -15px;/*para ficar um poco mais proximo do input*/
  }
  .RA, .password{/*o campo de preencimento do RA e senha */
    width: 80vw;/*largura dos input's*/
    padding-top: 1vh;/*altura do texto com o teto*/
    padding-bottom: 1vh;/*altura do texto com o "chão"*/
  }
  .texto{
    font-size: 2vh;
  }
  .botao-entrar{
    margin-top: 9vh;/*distânci do botão do input de senha*/
    padding-left: 5vw;/*espaçamento do texto para esquerda*/
    padding-right: 5vw;/*espaçamento do texto para direita*/
    padding-top: 2.5vh;/*espaçamento do texto para cima*/
    padding-bottom: 2.5vh;/*espaçamento do texto para baixo*/
  }
  }