* {
    font-family: 'Tanseek Árabe Moderno Médio', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #F5F5F5;/*colocar a cor cinza no resto do corpo*/
}
aside{
  background-color: #ffffff;
  height:95vh;/*calcullo de cabeçalho com o corpo*/
  width: 18vw;
  float: left;
}
#ciasc{
  margin-top:8px;
  margin-left: 25px;
}
header{
  color:#ffffff;
  font-size: 20px;
  background-color: #151C48;
  height:5vh;/*calcullo de cabeçalho com o corpo*/
  display: flex;
  justify-content: space-between;
}
.opções-botao,
.imagem-opicao{
  height: 25px;
  width: 30px;
  background-color: #151C48;
  border: none;
}


.enfermagem,
.nutricao,
.fisioterapia,
.nova-consulta,
.pesquisa-consulta,
.cadastro-paciente,
.botao-data{
    height: 55px;
    width: 10vw;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*colocando as cores dos botoes coloridos*/
.nova-consulta{
  background-color: #EA8D37;
  color: #ffffff;
}
.pesquisa-consulta{
  background-color: #F40404;
  color: #ffffff;
}
.cadastro-paciente{
  background-color: #868AA5;
  color: #ffffff;
}
.novo-botao:hover,
.enfermagem:hover,
.nutricao:hover,
.fisioterapia:hover,
.nova-consulta:hover,
.pesquisa-consulta:hover,
.cadastro-paciente:hover,
.botao:hover,
.botao-data:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.nova-consulta {
    margin-top: 40px;
}

.fisioterapia,
.nutricao,
.enfermagem {
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.emoji-fisioterapia,
.emoji-nutricao,
.emoji-enfermagem {
    height: 20px;
    width: 20px;
}






















































#botao-data,
.botao {
    background-color: #6176C1;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: -15px;/*distância do botão de baixo*/
    height: 55px;
    width: 190px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#botao-data{/*arrumando o diferencialdo botão data dos outros*/
  margin-left: 0px;
  margin-top: 0px;
}
/*aqui está aparte dos tickets que serão reduzidos*/
.ticket{
  display: flex;
  justify-content: end;
  align-items: end;
}
.hora{
  padding-top: 12px;/*distânciar a hora do topo*/
  width: 190px;/*mesma que o botão*/
  height: 40px/*menos que o tamanho do botão para que haja espaço para os ticket*/
}
/*COPO DOS HORARIOS*/
.centralizar{/*centraliza o corpo no meio da tela*/
  display: flex;
  justify-content: space-evenly;
}

.caixa-azul {
  margin-top: 32px;
  margin-right: 12px;
  width: 1000px;
  /*height: 370px;*/
  height: auto;
  padding-bottom: 40px;
  border-radius: 5px;  
  background-color: #151C48;
  color: white;
  display: flex;
}
.coluna{
  display: flex;
  flex-direction: column;
}
/*BOTÕES DA DATA*/
.caixa-data {
  margin-top: 25px;
  padding-left: 50px;
}
.data{
  background-color: #6176C1;
  color: #ffffff;
  border: none;
}



































/*AQUI ESTÁ A PARTE MOBILE*/

@media(max-width: 720px){
main{
  height: auto;
}
  
aside{
  height:15vh;/*calcullo de cabeçalho com o corpo*/
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  float: none;
  
}
.nova-consulta {/*distância do 1 botão do cabeçalho*/
  margin-top: 0px;
}
.enfermagem,
.nutricao,
.fisioterapia,
.nova-consulta,
.pesquisa-consulta,
.cadastro-paciente{
    height: 55px;
    width: 20vw;
}
.caixa-azul{
  width: 90vw;
  height: 80vh;/*5, 15, 3, 72; meu erro foi de 72 para 85*/
  border-radius: 10px;
  margin-top: 3vh;
  padding-bottom: 30px;
  margin-bottom: 3vh;
  
  
}
.caixa-de-dentro {
  padding-left: 60px;
  padding-bottom: 13vw;
  padding-top: 6px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  
}
.data,
.botao-data,
.caixa-data{
    margin-bottom: -15px;/*isso é para que não fique tão grande a distancia dos itens de baixo*/
    height: 55px;
    width: 160px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

}